# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
	test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
   alias ls='ls --color=auto --group-directories-first'
   #alias dir='dir --color=auto'
   #alias vdir='vdir --color=auto'

   alias grep='grep --color=auto'
   alias fgrep='fgrep --color=auto'
   alias egrep='egrep --color=auto'
fi

# colored GCC warnings and errors
#export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# some more ls aliases
# ls -N flag prints entry names without quoting and without escaping quotes,
# inspired by https://rachelbythebay.com/w/2023/05/05/dot
alias ll='ls -alhN --group-directories-first'
alias la='ls -A'
alias l='ls -CF'

{# pygmentize fails on lahore, either because it is Focal, or because cloud image #}
{# I have no time to investigate this now, so let's restrict to Jammy and above #}
{# and see if the same error happens on cloud images of newer releases #}
{# pygmentize:6: DeprecationWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html from pkg_resources import load_entry_point #}
{% if ansible_distribution_major_version | int >= 22 %}
# Syntax highlighting to "cat"
# https://dev.to/rogiervandenberg/add-syntax-highlighting-to-cat-in-your-terminal-1kcp
# https://stackoverflow.com/questions/7851134/syntax-highlighting-colorizing-cat
# https://superuser.com/questions/84426/are-there-any-options-to-let-cat-output-with-color
alias cat="pygmentize -g"
{% endif %}

{% if not (role_constraints | bool) %}
# Alert via our Gotify server, using "bash-alerts" app
# gotify priority number goes from 0 to 10. The effect of priority value depends on the client.
# https://jmattheis.de/blog/send-notifications-to-android-via-rest-api
# https://github.com/gotify/server/issues/312
# Suggest using it like this:
# sleep 10; alert
# note the use of ; instead of && since you probably want the alert to trigger whether the preceding
# command succeeded or not
# This alert should work from any host without requiring any dependencies (apart from curl)
alias alert='curl -X POST "https://{{ hostinfo.taipei.gotify }}/message?token={{ gotify_app_token }}" -F "message=$(history | tail -n1 | sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')" -F "title=Alert from $(hostname)" -F "priority=5" -o /dev/null --silent'
{% endif %}

# for convenience, provide alias for the tz function (defined in .bash_functions)
alias timezones=tz
