#jinja2: lstrip_blocks: True
[user]
	name = "{{ ansible_env.USER }}@{{ ansible_hostname }}"
	email = "{{ email_user }}"

[color]
	{# https://unix.stackexchange.com/questions/44266/how-to-colorize-output-of-git #}
	{# https://tylercipriani.com/blog/2016/09/21/git-config-include-and-colors #}
	ui = true

[alias]
	{# %cs date short (YYYY-MM-DD), date is more informative than hash at a glance #}
	{# https://git-scm.com/docs/pretty-formats #}
	ls = log --pretty=format:"%Cgreen%cs\\ %C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%Cgreen%cs\\ %C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	st = status
	# an alias to list all defined git aliases
	{# https://stackoverflow.com/questions/7066325/list-git-aliases #}
	{# config --get-regexp '^alias\\.' works, but the output is not very nice (every line starts with "alias.") #}
	{# we can escape to bash using the ! (bang), allowing us to pipe to our hearts content #}
	{# ok, better, but would be even nicer if we could print the equals sign in there, or add syntax highlight #}
	{# if this is not good enough, CONSIDER https://github.com/tj/git-extras #}
	aliases = ! git config --get-regexp '^alias\\.' | sed 's/^alias\\.//g'
	{# specific diff for handling DOCX or ODT files (converted to markdown using pandoc) #}
	wdiff = diff --word-diff=color --unified=1
	# keep wdiff for now, but replace it with di-word eventually
	di-word = diff --word-diff=color --unified=1
	{# similar to `git branch -v`, but also show date of latest commit for each local branch #}
	{# refs/heads/ limits to local branches, remove it to show both local and remote branches #}
	{# %09 equals the TAB character #}
	{# https://git-scm.com/docs/git-for-each-ref #}
	branch-dv = for-each-ref --sort=committerdate refs/heads/ --format='%(committerdate:short) %(refname:short) %09 %(objectname:short) %(contents:subject)'
	# alias for "git diff --staged" (in order to type less)
	{# https://nickjanetakis.com/blog/git-diff-staged-will-diff-files-you-have-staged-vs-what-is-commit #}
	{# https://dev.to/briehman/using-git-aliases-and-custom-scripts-to-work-faster-18no #}
	{# https://stefanbauer.me/articles/these-git-aliases-make-my-daily-work-faster-and-easier #}
	{# https://www.atlassian.com/blog/git/advanced-git-aliases #}
	{# staged = diff --staged # except "staged"  has the same first letters as "status" #}
	di-staged = diff --staged

[pull]
	{# use merge when reconciling divergent branches when pulling (Git's default strategy) #}
	rebase = false

[push]
	default = simple

{# I would like whitespace changes to be highlighted #}
{# https://stackoverflow.com/a/30803980 #}
[diff]
	wsErrorHighlight = all

{# to track DOCX or ODT documents with Git #}
{# https://olickel.com/tracking-word-documents-with-git #}
{# https://gist.github.com/ttimasdf/7965baab972b901c1f8349ce5fcb5e09 #}
{# Note that you must also specify, e.g., "*.docx diff=pandoc" in the project's .gitattributes #}
[diff "pandoc"]
	textconv=pandoc --to=markdown

[init]
	defaultBranch = master
