# define a bash array with our disk names from the hdds_mdraid variable
# https://stackoverflow.com/questions/57878780/bash-printf-using-array-as-argument
disknames=({% for this_disk in hdds_mdraid -%}"{{ this_disk }}" {% endfor %})
# temperatures of all disks in variable on single line separated by space
# note the use of printf to replace awk's newlines with space, and END to replace final newline
# https://serverfault.com/questions/391360/remove-line-break-using-awk
# the tricky part is making disktemps an actual bash array, and not just a string that looks like an array
# I want it to be a bash array in order for printf inside PrintHDDtemp() to work as expected
disktemps_string=$(hddtemp ${disknames[*]} | awk '{printf "%s ",$4}')
# disktemps_string=$(hddtemp {% for this_disk in hdds_mdraid -%}{{ this_disk }} {% endfor %} | awk '{printf "%s ",$4}')
# this creates a bash array
disktemps=($disktemps_string)

PrintHDDtemp() {
  # note: we are making sure each line is the same length, 58 chars long
  # so that background colouring creates a nice rectangle
  echo "RAID disk temperatures =================================="
  # careful here, this format string hard-codes five (5) disks, irrespective of hdds_mdraid variable
  # the last %2s and the appended empty string is simply for layout, to give the table
  # some breathing-room on the right-hand side...
  printf "%11s%11s%11s%11s%11s%2s\n" "${disknames[@]}" ""
  # for some weird reason, the temperature strings require length+1 (11+1) to align properly
  printf "%11s%11s%11s%11s%11s%2s\n" "${disktemps[@]}" ""
}
