# this script doesn't work on computers with Swedish locale (comma versus dot)
# https://stackoverflow.com/questions/12845638/how-do-i-change-the-decimal-separator-in-the-printf-command-in-bash
export LC_NUMERIC="en_GB.UTF-8"

# print the load in a different colour if above some threshold
# https://stackoverflow.com/questions/11541568/how-to-do-float-comparison-in-bash
sysload=$(awk '{print $1}' /proc/loadavg)
sysloadthreshold=$(echo "$sysload < 0.8" | bc)
# number of cores
cpucores=$(awk '/processor/' /proc/cpuinfo | wc -l)
# read current CPU temp (in millicelsius)
cputemperature=$(cat /sys/class/thermal/thermal_zone0/temp)
# convert value to celsius
cputemp=$(echo "$cputemperature / 1000" | bc -l)
# usage of filesystem (total, across all partitions)
fsusagestring=$(df -h --total | awk '/total/{print $5}')
# strip the trailing percent sign
fsusage=$(echo "${fsusagestring::-1}")
# available memory (megabytes)
memtotal=$(free -m | awk '/Mem:/{print $2}')
# used memory (used and shared divided by total)
# https://stackoverflow.com/questions/10585978/how-to-get-the-percentage-of-memory-free-with-a-linux-command
memusage=$(free | awk '/Mem:/{print ($3+$5)/$2 * 100.0}')


# NOTE:
#   %10s means field has *minimum* width of 10 characters, right aligned.
#   %-10s is the same, but left aligned.
#   If you use the precision modifier with a string (e.g., "%.4s"), it specifies
#   the *maximum* length of the string.
#   You may combine both width and precision modifier, e.g., "%10.4s".
#   https://linuxhandbook.com/bash-printf
{# If the host is an LXC container or VPS (guest and not host in virtualization lingo) #}
{# then forego the CPU temperature field in the status box #}
{# It seems can be counted on as a discriminator (it's a string, "guest" on our
LXC containers, VPSs, etc. and "host" on our workstations etc.)  #}
# OLD IDEA: conditional colour/font formatting based on critical cut-off values?
#    We can make the sysload value print on red background, but I'm less sure
#    about how to achieve the conditional check:
#    printf "%-13s\e[41m%-1.2f\e[0m%10s%15s%6.1f°C\n" "System load:" "$sysload" "($cpucores cores)" "Temperature:" "$cputemp"
{% if ansible_virtualization_role is search("guest") %}
PrintSysLoad() {
   printf "%-13s%-1.2f%10s" "System load:" "$sysload" "($cpucores cores)"
   # %5.0f includes a leading space and 4 digits (up to 9999 MB),
   # which should cover all guests (not expected to have more than few GBs RAM)
   printf "%18s%5.0f MB\n" "Memory total:" "$memtotal"
   printf "%-13s%2d%%" "Storage use:" "$fsusage"
   # the final %2s is just to fill out the row to align right with the top row
   printf "%29s%5.1f%%%2s\n" "Memory usage:" "$memusage"
}
{% else %}
PrintSysLoad() {
   printf "%-13s%-1.2f%10s" "System load:" "$sysload" "($cpucores cores)"
   # %6.0f includes a leading space and 5 digits (up to 99999 MB),
   # which should cover all guests (not expected to have more than few GBs RAM)
   printf "%18s%6.0f MB\n" "Memory total:" "$memtotal"
   printf "%-13s%2d%%" "Storage use:" "$fsusage"
   # the trailing %3s is just to fill out the row to align right with the top row
   printf "%29s%5.1f%%%3s\n" "Memory usage:" "$memusage"
   # %5.1f should cover temperatures up to 99.9°C (including leading space)
   # the trailing %20s is to fill out the row
   printf "%12s%5.1f°C%35s\n" "CPU temp:" "$cputemp"
}
{% endif %}
